* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-background: rgba(255, 255, 255, 1);
    --main-background: rgba(246, 247, 248, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    background: var(--main-background);
}

h2 {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}

h3 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    height: 104px;
    background: var(--main-background);
}

.main-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 64px;
    background: var(--white-background);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
}

.master {
    display: flex;
    justify-content: space-between;
    width: 1104px;
    height: 64px;
    background: rgba(255, 255, 255, 0);
}

.left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 583px;
    height: 64px;
}

.left-side__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 64px;
}

.left-side__logo {
    width: 151px;
    height: 34;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side__tabs {
    width: 384px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs__item__text {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.right-side {
    width: 69px;
    height: 64px;
}

.logged-out {
    width: 69px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logged-out__text {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right; 
    color: rgba(51, 111, 238, 1);
}

/* Hero */

.hero {
    height: 812px;
    padding: 40px 128px 40px 128px;
    background: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.hero__text-block {
    width: 912px;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero__text {
    width: 912px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero__title {
    width: 912px;
    height: 48px;
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.hero__subtitle {
    width: 912px;
    height: 24px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.hero__button {
    width: 150px;
    height: 56px;
    padding: 16px 36px 16px 36px;
    border-radius: 4px;

    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;

    background-color: rgba(255, 221, 45, 1);
    color: rgba(0, 0, 0, 0.8);

    border: none;

    cursor: pointer;

    transition: background-color 0.3s linear;
}

.hero__button:hover {
    background-color: rgba(252, 197, 33, 1);
}

.hero__button:active {
    background-color: rgb(39, 29, 5);
}

.hero__button:focus {
    border-color: rgba(51, 51, 51, 0.48);
    border: 2px;
    background-color: rgba(255, 221, 45, 1);
}

/* Who */

.who {
    height: 556px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

div.who__title {
    width: 1360px;
    height: 148px;
    padding: 76px 224px 24px 224px;
}

.who__image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1360px;
    height: 408px;
    padding: 24px 128px 24px 128px;
}

.who__desktop-image {
    width: 1104px;
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.who__desktop__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 341px;
    height: 144px;
}

.who__desktop__item {
    display: flex;
    justify-content: flex-start;
    width: 336px;
}

.who__desktop__item__text {
    width: 316px;
    margin-left: 8px;
}

/* Expectations */

.expectations {
    height: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div.expectations__title {
    width: 1360px;
    height: 148px;
    padding: 76px 224px 24px 224px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expectations__vacancies {
    width: 1360px;
    height: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 128px 24px 128px;
}

.expectations__vacancy {
    width: 336px;
    height: 232px;
    padding: 32px;
    border-radius: 24px;
    background: var(--white-background);
}

.expectations__vacancy__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.expectations__vacancy__data__text {
    margin-top: 16px;
}

/* Studying */

.studying {
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.studying__title {
    padding: 76px 224px 24px 224px;
}

.studying__cards {
    width: 1360px;
    padding: 24px 128px 24px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.studying__card {
    width: 528px;
    height: 212px;
    padding: 32px;
    border-radius: 24px;

    background: var(--white-background);
}

.card__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 464px;
}

.card__text-block__item {
    width: 464px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
}

.card__text-block__item__text {
    width: 444px;
    margin-left: 8px;
}

/* Free */

.free {
    height: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.free__title {
    width: 1360px;
    height: 148px;
    padding: 76px 224px 24px 224px;
}

.free__cards {
    width: 1360px;
    height: 368px;
    padding: 24px 128px 24px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.free__card {
    width: 528px;
    height: 320px;
    padding: 32px;
    border-radius: 24px;

    background-color: var(--white-background);
}

.free__card__text-block {
    margin-top: 44px;
    width: 464px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.free__card__text-block__items {
    width: 464px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.free__card__text-block__item {
    width: 464px;
    display: flex;
    justify-content: flex-start;
}

.free__card__text-block__item__text {
    width: 444px;
    margin-left: 8px;
}

/* course */

.course {
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.course__title {
    width: 1360px;
    height: 148px;
    padding: 76px 224px 24px 224px;
}

.course__steps {
    width: 1360px;
    height: 236px;
    padding: 24px 128px 24px 128px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.course__step {
    width: 240px;
    height: 188px;


}

.course__step__svg {
    position: relative;
    left: 92px;
    margin: 0;
}

.course__step__text-block {
    position: relative;
    top: -35px;

    width: 240px;
    height: 160px;

    padding: 56px 32px 32px 32px;
    border-radius: 24px;

    background-color: var(--white-background);

    z-index: -1;
}

.course__step__text-block__text {
    width: 176px;
    height: 72px;

    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    height: 192px;
}

.footer__main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    top: 64px;
    width: 1104px;
    height: 128px;
}

.footer__main__text-block {
    width: 1104px;
    height: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__main__text-block__copyright {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(0, 0, 0, 0.54);
}

.footer__main__text-block__questions {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;

    color: rgba(0, 0, 0, 0.54);
}

.footer__main__text-block__questions span {
    color: rgba(51, 111, 238, 1);
}